html,
body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}
.container {
    padding-bottom: 30px;
    line-height: 150%;
    max-width: 1150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 1rem;
}
.clearfix {
    clear: both;
    border-bottom: 1px solid #444;
}
.quoted {
    font-family: "Courier New", Courier, monospace;
}
figure.floater {
    float: left;
}
.history {
    text-align: center;
}
a {
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
a.wiki {
}
.withimage {
    display: block;
    padding: 0 15%;
    border-top: 1px solid #444;
}
.withimage p {
    padding-top: 30px;
}
.withimage img {
    max-width: 500px;
}
.prelike {
    background-color: #eee;
    padding: 15px 40px 15px 15px;
    margin: 30px 0;
}
.backgrounded {
    max-width: 48%;
    vertical-align: middle;
    opacity: 0.2;
}
.background-vague,
.background-over {
    margin-left: auto;
    margin-right: auto;
}
.background-over {
    text-shadow: 2px 1px #aaa;
    padding-top: 40px;
    margin-top: -160px;
    margin-bottom: 80px;
    font-weight: bolder;
    padding-left: 30px;
}
h1 span {
    background: yellow;
}
img.midbanner {
    max-width: 40%;
    opacity: 0.5;
}
.mobile-only {
    display: none;
}
li {
    margin-bottom: 8px;
}
@media only screen and (max-width: 1000px) {
    html,
    body {
        margin: 0;
    }
    .container {
        padding: 15px;
        line-height: 170%;
    }
    .background-over {
        margin: 0;
        margin-top: -20px;
        padding: 0;
    }
    figure.floater {
        float: none;
    }
    .withimage {
        margin: 0;
        padding: 0;
    }
    .withimage img {
        max-width: 100%;
        padding: 20px 0;
    }
    .withimage p {
        padding: 0;
    }
    .withimage figure {
        margin-block-start: 0;
        margin-inline-start: 0;
    }
    .backgrounded {
        max-width: 100%;
        vertical-align: middle;
    }
    img.midbanner {
        max-width: 100%;
    }
    .no-mobile {
        display: none;
    }
    .mobile-only {
        display: block;
        margin-top: -15px;
    }
}
